.testimonial-container{
    position: relative;
    color: white;
    width: 100%;
    padding: 4% 6%;
}

.quote{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

}
.testimonial-header{
    font-size: xxx-large;
    font-weight: 600;
}


